# Project-specific ignores
addons/plugin_restarter
addons/editor_icon_previewer

# Godot 4+ specific ignores
.godot/
*.import
*.gd.uid
*.cs.uid
*.json.uid
*.txt.uid

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# System/tool-specific ignores
.directory
*~
.DS_Store
.vscode/
.idea/**