# Project-specific ignores
addons/kenyoni/plugin_reloader
addons/explore-editor-theme
addons/resources_spreadsheet_view
addons/resource_databases
addons/zylann.editor_debugger
addons/GDQuest_GDScript_formatter
example

# Godot 4+ specific ignores
.godot/

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# System/tool-specific ignores
.directory
*~
.DS_Store
.vscode/
.idea/**